<div
  id="overflow"
  class="bcustom-gradient  w-full overflow-hidden pt-20 ">
  <p
    id="editar"
    class="sm:text-3xl max-sm:text-2xl md:text-4xl lg:text-5xl 2xl:text-7xl font-bold text-button font-tipografia-Inter text-center mb-10">
  Bienvenido de vuelta!
  </p>

  <div
    class="flex place-content-center items-center w-96 h-96 max-sm:w-80 max-sm:h-80 mx-auto container rounded-lg bg-white  shadow-lg">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="flex flex-col">
      <div class="flex flex-col" data-te-input-wrapper-init>
        <label for="email" class="text-gray-500">Email: user1@noemail.com</label>
        <br>
        <input
          id="email"
          type="text"
          autocomplete="off" 
          formControlName="email"
          class="border-transparent drop-shadow-lg rounded-sm px-10 max-sm:px-7 mb-5 bg-gray focus:border-gray-400" />
      </div>

      <div class="flex flex-col" data-te-input-wrapper-init>
        <label class="text-gray-500" for="password">Contraseña: admin</label>
        <br>
        <input
          id="password"
          type="password"
          autocomplete="off" 
          formControlName="password"
          class="border-transparent drop-shadow-lg rounded-sm px-10 max-sm:px-7 mb-5 bg-gray focus:border-gray-400" />
      </div>

      <button
        type="submit"
        class="bg-button text-white rounded-lg px-5 py-2 font-semibold hover:bg-button_nigga"
      >
        Login
      </button>

    </form>
  </div>

  <div class="w-full h-full my-10">
    <img src="../../assets/imagenes/fondologin.png" alt="" srcset="">
  </div>

</div>
