<nav id="navbar" class="bg-navbar_background drop-shadow-lg z-50">
    <div class="mx-auto container grid grid-flow-col py-2">
      <div class="col-span-1 flex sm:justify-start md:justify-start items-center justify-start ml-3 ">
        <img id="logo" class="w-24 h-20 md:w-28 md:h-24" src="../../assets/imagenes/Logo.png" alt="Happy Paws"/>
      </div>

      <div class="col-span-4 flex items-center justify-end sm:text-base sm:gap-x-3 md:text-lg md:gap-x-5 lg:text-xl xl:gap-x-8 xl:text-2xl 2xl:text-3xl ">
            <a routerLinkActive="active" routerLink="/"  class="cursor-pointer max-md:px-3 max-sm:text-xl">Quienes somos</a>
            <a (click)="this.scrollToElement('link-especialidades')" class="cursor-pointer max-sm:hidden ">Especialidades</a>
            <a (click)="this.scrollToElement('link-Reseñas')"  class="cursor-pointer max-sm:hidden">Reseñas</a>
            <a (click)="this.scrollToElement('link-Contacto')" class="cursor-pointer max-sm:hidden">Contacto</a>

          <div *ngIf="signedIn; then thenBlock; else elseBlock"></div>
          <ng-template #thenBlock>
            <app-logout></app-logout>
          </ng-template>
          <ng-template #elseBlock>
              <button class="bg-button max-sm:mr-4  rounded-lg px-5 py-2 font-semibold hover:bg-button_nigga">
                <a routerLinkActive="active" routerLink="/login" class="cursor-pointer  text-center text-white max-sm:px-2">Login</a>
              </button>
          </ng-template>
      </div>
    </div>
  </nav>

