<div class="h-full w-full">
    <div class="mx-auto container grid grid-flow-col py-2">
       <div id="link-Contacto" class="col-span-1 flex items-center justify-start ml-4 max-sm:hidden">
        <img id="logo" class="w-24 h-20 md:w-28 md:h-24" src="../../assets/imagenes/Logo.png" alt="Happy Paws"/>
      </div>
      <div class="col-span-4 flex flex-col lg:ml-28 2xl:ml-60 max-sm:items-center max-sm:justify-center">
              <div class="flex items-start justify-start sm:text-base sm:gap-x-3 md:text-sm md:gap-x-5 lg:text-lg xl:gap-x-8 2xl:text-xl max-sm:hidden font-medium">
                <a (click)="this.scrollToElement('hero')" class="">Quienes somos</a>
                <a (click)="this.scrollToElement('link-especialidades')" class="">Especialidades</a>
                <a (click)="this.scrollToElement('link-Reseñas')"  class="">Reseñas</a>
                <a (click)="this.scrollToElement('link-Contacto')" class="">Contacto</a>
              </div>
  
              <div class="pt-10 sm:ml-32 lg:ml-40 max-sm:ml-0">
  
                <div class="flex items-center">
                  <p class="text-button font-tipografia-Inter text-lg">Poder encontrarnos en</p>
                </div>
  
              <div class="flex items-center max-sm:ml-16 ml-5 pt-5 gap-x-7">
                <img class="h-8 w-8" src="../../assets/imagenes/facebook.png" alt="" srcset="">
                <img class="h-8 w-8" src="../../assets/imagenes/telegram.png" alt="">
              </div>
              </div>
  
  
             <div class="flex items-center justify-start max-sm:ml-0 ml-20 pt-7">
              <p class="text-lg text-gray-400 font-tipografia-Inter font-normal">All rights reserved to Happypaws inc.</p>
             </div>
      </div>
    </div>
  </div>
  