<div class="w-full h-full lg:mt-20">
  <div id="link-Reseñas" class="mx-auto container grid max-sm:grid-cols-1 sm:grid-cols-2 gap-x-2">
    <div class="max-sm:hidden flex ml-7 sm:mt-72 lg:mt-40 items-end justify-end bg-info_primary sm:h-[25%] lg:h-[50%] rounded-lg relative z-10">
        <img class="max-md:w-[150px] max-lg:w-[200px] max-md:-bottom-1  absolute left-10 md:-bottom-2 z-50" src="../../assets/imagenes/perritoCarrosuel.png" alt="">
        <img class="w-[80%] relative z-0" src="../../assets/imagenes/patitascarrosuel.png" alt="">
    </div>
    <div class="h-[60%] flex flex-col max-lg:mt-16">
      <div class="flex justify-center sm:text-2xl lg:text-4xl">
        <p class="sm:pb-5 lg:pb-16 text-button font-tipografia-Inter max-sm:text-2xl max-sm:mb-10">Su confianza es lo que <br>
          mas nos importa</p>
      </div>
        <!-- Swiper -->
        <div>

          <div class="swiper mySwiperCarrousel">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="w-64 h-60 bg-white mx-auto container shadow-lg flex flex-col rounded-lg">
                  <p class="w-56 px-3 py-4 text-button text-xl font-tipografia-Inter font-normal">Jessica</p>
                <div class="w-56 flex justify-start mx-auto container gap-x-2">
                  <img id="estrella"  src="../../assets/imagenes/estrella.png" alt="">
                  <img id="estrella"  src="../../assets/imagenes/estrella.png" alt="">
                  <img id="estrella"  src="../../assets/imagenes/estrella.png" alt="">
                  <img id="estrella"  src="../../assets/imagenes/estrella.png" alt="">
                </div>
                <div class="pt-3 flex justify-start mx-auto container w-56">
                  <p class="text-base  font-normal font-tipografia-Inter">Excelente veterinaria, empecé a ir hace unos meses y siempre trataron de 10 a mi michito, las doctoras muy profesionales. Es de confianza .</p>
                </div>
              </div>
              </div>
              <div class="swiper-slide">
                <div class="w-64 h-60 bg-white mx-auto container shadow-lg flex flex-col justify-center pb-5 rounded-lg">
                    <p class="w-56 px-5 py-3 text-button text-xl font-tipografia-Inter font-normal">Martin</p>
                  <div class="w-56 flex justify-start mx-auto container gap-x-2">
                    <img id="estrella"  src="../../assets/imagenes/estrella.png" alt="">
                    <img id="estrella"  src="../../assets/imagenes/estrella.png" alt="">
                    <img id="estrella"  src="../../assets/imagenes/estrella.png" alt="">
                    <img id="estrella"  src="../../assets/imagenes/estrella.png" alt="">
                  </div>
                  <div class="pt-3 flex  items-center justify-start mx-auto container w-56">
                    <p class="text-base  font-normal font-tipografia-Inter">Muy profesionales, cariñosos y confiables, amplio surtido y muy buena atencion</p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="w-64 h-60 bg-white mx-auto container shadow-lg flex flex-col rounded-lg">
                  <p class="w-56 px-3 py-4 text-button text-xl font-tipografia-Inter font-normal">Michael</p>
                <div class="w-56 flex justify-start mx-auto container gap-x-2">
                  <img id="estrella"  src="../../assets/imagenes/estrella.png" alt="">
                  <img id="estrella"  src="../../assets/imagenes/estrella.png" alt="">
                  <img id="estrella"  src="../../assets/imagenes/estrella.png" alt="">
                  <img id="estrella"  src="../../assets/imagenes/estrella.png" alt="">
                </div>
                <div class="pt-3 flex justify-start mx-auto container w-56">
                  <p class="text-base  font-normal font-tipografia-Inter">Excelente lugar, buen trato. Además le hicieron en examen a la perrita e completaron el formulario para poder viajar en avión.</p>
                </div>
              </div>
              </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
  </div>
</div>
</div>